.families-wrapper {

  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 1%;

  .family {
    background-color: #eee;
    border-radius: 5px;
    padding: 1em;

    img {
      width: 100%;
    }
  }

}